.employee-select {
    width: 35vw;
    margin: 0 auto; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.employee-dropdown {
    width: 20vw;
}

.employee-container {
    margin: 0 auto; 
    gap: 5vw;
    display: flex;
    flex-direction: row;
    width: 90vw;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    padding-bottom: 5vh;
}

.employee-data {
    display: flex;
    flex-direction: column;
    width: 45%;
    border: 1px;
    border-style: solid;
    border-radius: 20px;
    padding: 2vw;
    margin-top: 5vh;
}

.modify-employee {
    display: flex;
    flex-direction: column;
    width: 45%;
    border: 1px;
    border-style: solid;
    border-radius: 20px;
    padding: 2vw;
    margin-top: 5vh;
}

.add-employee {
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 2vw;
    margin-top: 3vh;
}