/* ******* INVENTORY TABLE ******* */

.total {
    text-align: center;
    margin-bottom: 2%;
    width: 100%;
    border-color: black;
}
.supplier {
    width: 35%;
}
.item {
    width: 20%;
}
.threshold {
    width: 15%;
}
.quantity {
    width: 15%;
}
.unit {
    width: 15%;
}


/* ******* ITEM PERFORMANCE ******* */
.item-performance {
    display: flex;
    flex-direction: row;
    width: 90vw;
    justify-content: center;
    align-items: center;
    gap: 5vw;
}

.highest-perf {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.lowest-perf {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.item-table {
    margin-top: 2vh;
    margin-bottom: 5vh;
}

.item-label {
    text-align: center;
}


/* ******* PRODUCT USAGE ******* */
.product-usage {
    margin-top: 3vh;
    display: flex;
    flex-direction: row;
    width: 90vw;
    justify-content: center;
    align-items: center;
    gap: 5vw;
}

.date-select {
    display: flex;
    flex-direction: row;
    gap: 1vw;
}