.banner-div {
    margin-top: 5vh;
    margin-bottom: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem; 
    position: relative;
}

.main-banner {
    display: block;
}

.logout-button {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
}

.button-div {
    text-align: center;
}

.man-home-buttons {
    width: 15vw;
    height: 50vh;
    margin: 2vw !important;
    border-radius: 20px !important;
}