.divider{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex: 1;
    margin-bottom: 1%;
}
.table-container{
    width: 70%;
    height: 580px;
    overflow-y: scroll;
    align-items: center;
    justify-content: center;
    padding-left: 2%;
    padding-right: 2%;
}
.editor-container{
    width: 30%;
    background-color: antiquewhite;
}
.text-boxes{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex: 1;
}
.text-boxes input, select{
    width: 90%;
    height: 18%;
    text-align: center;
}
.buttons{
    height: 20%;
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    align-items: center;
}
.buttons button{
    height: 90%;
    width: 30%;
}

.error{
    color: red;
    font-weight: bold;
    text-align: center;
}