.menu-items, .finish {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    margin-top: 2vh;
    border-radius: 15px;
    background-color: #DBDBDB;
}

.order-menu-content {
    margin-top: 2vh;
    display: flex;
}

.finish-content {
    display: flex;
    flex-direction: column;
}

.finish-order-content {
    width: 60vw;
    height: 50vh;
    margin-top: 5vh;
    border-radius: 15px;
    background-color: #DBDBDB;
}

.finish-buttons {
    display: flex;
    flex-direction: row;
}