.menu-items {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    margin-top: 2vh;
    border-radius: 15px;
    background-color: #DBDBDB;
}

.order-menu-content {
    margin-top: 2vh;
    display: flex;
}
