.banner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 1vh;
} 

.banner-image {
    height: 10vh;
    position: sticky;
    left: 50%;
    transform: translateX(-50%);
    margin: auto;
}

.accesible-buttons {
    margin-left: 1vw;
    display: flex;
    gap: 1vh;
    flex-direction: column;
    font-size: inherit;
}

.logout-button, .weather-card {
    margin-right: 1vw;
}

/* ****** MENU DISPLAY ****** */
.menu-display {
    width: 67vw;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #D95451;
    border-radius: 15px;
    padding: 2vh;
}

.menu-button {
    flex: 0 1 calc(25% - 20px); /* 4 buttons per row with spacing */
    height: 20vh;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.menu-button.enlarged {
    font-size: 1.25rem;
}

.menu-button:hover {
    transform: scale(1.05);
}

.menu-image {
    width: 100px;
    height: 75px;
    object-fit: cover;
    margin-bottom: 1vh;
}

.menu-image.enlarged {
    width: 125px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 1vh;
}

.labels {
    padding-left: 2vh;
}

/* ****** ORDER AREAS ****** */
.order-area {
    height: 60vh;
    width: 20vw;
    position: sticky;
    top: 1vh;
}

.order-list {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #DBDBDB;
    margin-bottom: 2vh;
    padding: 2vh;
    border-radius: 10px;
    overflow-y: auto;
}

.totals {
    margin-top: auto;
    text-align: right;
}

.totals-enlarged {
    font-size: 1.25rem;
}

.label-h3-enlarged {
    font-size: 1.5rem;
}

/* ****** SELECT ITEM ****** */
.item-type {
    display: flex;
    flex-direction: column;
}