.trend-select {
    width: 20vw;
    margin: 0 auto; 
}

.performance-container {
    display: flex;
    justify-content: center;
    align-items: center; 
}

.graph-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
}